h1 {
    color: blue;
}
h2 {
    color: blue;
}
h3 {
    color: blue;
}
body {
    color: palegreen;
    font-size: 10px;
}
.box {
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 5px black;
    background-color: aqua;
}