h1 {
    color: blue;
}
h2 {
    color: blue;
}
h3 {
    color: blue;
}
body {
    color: black;
    font-size: 20px;
}
.box {
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 20px black;
    background-color: aqua;
}
.box2 {
    height: auto;
    width: auto;
    padding: 30px 40px;
    background-color: bisque;

}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:wheat;
    font-size: 25px;
}